* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  display: flex;
  height: 100%;
  width: 100%;
}
.main .left-side {
  background-color: #0e2d66;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  height: 100%;
  color: #ffffff;
  /* giu cho left side nam yen vị trí này và không bị lăn khi lăn chuột */
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  /* ẩn thanh cuộn */
  scrollbar-width: none;
}
.left-side-top h1 {
  font-size: 30px;
  text-align: center;
}
.left-side-top h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #29a5f8;
  text-align: center;
}

.left-side-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}
.left-side-top .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.profile .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.left-side-top .personal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.left-side-top .personal-info .info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
  width: 100%;
}
.left-side-top .personal-info .info {
  font-size: 18px;
  font-weight: bold;
}
.left-side-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 30%;
  margin-top: 60px;
  gap: 10px;
}

.left-side-middle a {
  width: 100%;
  height: 100%;
  font-size: 25px;
  display: flex;
  padding-left: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.left-side-middle-item {
  width: 95%;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}
.left-side-middle-item:hover {
  cursor: pointer;
  background-color: #f5fcfd;
  /* di chuyen len phia tren 10px, sang phai 10px */
  transform: translate(10px, -10px);
}
.left-side-middle-item:hover a {
  color: #05348a;
}

.left-side-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20%;
  padding-bottom: 20px;
}
.left-side-bottom a {
  color: #ffffff;
  border: #ffffff solid 2px;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* bo dau gach chan */
  text-decoration: none;
  transition: all 0.3s;
}
.left-side-bottom a:hover {
  box-shadow: inset 0 -50px 0 0 #ffffff;
  color: #05348a;
  transform: translate(10px, -10px);
}
.right-side {
  background-color: #f5fcfd;
  padding: 10px;
  margin-left: 20%;
  width: 80%;
  height: 100vh;
  overflow-y: auto;
}
.right-side .right-side-intro {
  margin-bottom: 100px;
  text-align: left;
  height: 70%;
  align-content: center;
}
.right-side h1 {
  font-size: 35px;
  margin-bottom: 10px;
  color: #05348a;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 35px;
  /* gach chan */
  text-decoration: underline;
  text-decoration-color: #05348a;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
}

.right-side-intro p {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-right: 60px;
  /* Khoang cach cac dong */
  line-height: 1.5;
}

.right-side-middle h1 {
  font-size: 35px;
  margin-bottom: 10px;
  color: #05348a;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 15px;
  /* gach chan */
  text-decoration: underline;
  text-decoration-color: #05348a;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
}

.right-side-skills {
  margin-bottom: 100px;
  text-align: left;
  align-content: center;
}
/* skills tab */
.tabs {
  margin-left: 60px;
  margin-right: 60px;
}
input[type="radio"] {
  display: none;
}
.tab-label {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
input:checked + .tab-label {
  border-bottom: 2px solid #05348a;
  font-weight: bold;
  color: #05348a;
}
.tab-content {
  display: none;
  border-top: none;
  padding: 10px;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}

/* skill box */
.skills-box {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 5px -4px black;
}

.skills-box h3 {
  color: #05348a;
  font: bolder;
  font-size: larger;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 4px solid #05348a;
  padding-left: 8px;
  margin-left: 10px;
}

/* skill row */
.skill-row {
  margin-bottom: 2px;
  padding: 10px;
}

.skill-row p {
  font-weight: lighter;
  color: gray;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.skill-header p {
  color: #05348a;
  font: bolder;
}
.right-side-routes {
  margin-bottom: 100px;
  text-align: left;
}
.right-side-routes p {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-right: 60px;
  /* Khoang cach cac dong */
  line-height: 1.5;
}

.route-box{
  background-color: #ffffff;
  padding: 10px;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
  box-shadow: 4px 4px 5px -4px black;
}

.route-box h3 {
  color: #05348a;
  font: bolder;
  font-size: larger;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 4px solid #05348a;
  padding-left: 8px;
  margin-left: 10px;
}

.right-side-projects {
  color: #05348a;
  padding: 40px 0;
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 60%;
  margin: 0 auto;
}

.project-box {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.project-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(5, 52, 138, 0.3);
}

.project-box img {
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-box h3 {
  font-size: 22px;
  color: #05348a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-box .arrow {
  font-size: 44px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.project-box p {
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
}

.project-box:hover .arrow {
  transform: translateX(5px);
  color: #295ecf;
}

.techs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.techs div {
  background-color: #05348a;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.techs div:hover {
  background-color: #295ecf;
}
